.sidebar{
  width: 50%;
  height: 95vh;
  color: #969c9f;
}
.sidebar__items{
  width: 97%;
  border-radius: 10px;
  background-color: #3a3d3e;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.sidebar__content_address{
  font-size: 22px;
  cursor: default;
}
.sidebar__content_buttons{
  margin-top: 14px;
  display: flex;
}
.sidebar__content_button{
  margin-right: 20px;
  cursor: pointer;
  background-color: #282c2d;
  padding: 6px 8px;
  border-radius: 5px;
}

.sidebar__items:focus{
  background-color: #4a4f50;
}
@media (max-width: 840px){
  .sidebar{
    width: 95%;
  }
  .sidebar__content_address{
    font-size: 20px;
  }
  .sidebar__content_button{
    margin-right: 10px;
  }
}